.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.wrapper {
    /*padding: 20px;*/
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    /*width: 100%;*/
    max-width: 1200px; /* 👈 фиксированная ширина */
    margin: 0 auto;     /* 👈 центрирование */
    background: #fff;
    position: relative;
    padding-top: 70px; /* Отступ для фиксированного хедера */
}

/* Для мобильных устройств увеличиваем отступ */
@media (max-width: 768px) {
    .wrapper {
        padding-top: 65px;
    }
}

.main {
    flex: 1;
    padding: 20px;
}

/*.container {*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    width: 100%;*/

/*}*/

.footer {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 40px;
}
