.section {
    padding: 60px 0;
}

.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.contactInfo {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.mapContainer {
    margin-bottom: 40px;
}


.reviewsSection {
    margin-top: 40px;
}
.mapContainerFull iframe {
     border-radius: 12px;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
     transition: all 0.3s ease;
 }

.reviewsSection {
    margin-top: 60px;
    text-align: center;
}

.reviewsWidgetCarousel iframe {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
}


.description {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

.reviewsWidget iframe {
    width: 100%;
    max-width: 100%;
}
