html, body {
    overflow-x: hidden;
}
  
  
.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
  
.description {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}


.reviewsSection { text-align: center; }
.widgetContainer {
    width: 100%;
    max-width: 100%;
    margin: 30px auto;
    overflow: hidden;
  }

.desktopOnly { display: block; }

.mobileOnly  { display: none; }
  
  @media (max-width: 768px) {
    .title       { font-size: 24px; margin-bottom: 15px; }
    .description { font-size: 14px; padding: 0 10px;    }
    .reviewsSection { max-width: 600px;}
  }
  


  
  @media (max-width: 768px) {
    .desktopOnly { display: none; }
    .mobileOnly  { display: block; }
  }
  
 

  
  @media (max-width: 480px) {
     .reviewsSection { max-width: 320px;} 

  }

